*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
    
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav_logo{
    height: 35px;
    width: 90px;
    background-image: url(amazon_logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    margin-left: 10px;
    margin-top: 10px;
    

}
.nav_logo:hover{
    border: 2px solid white;

    
}
.second-div{
    height: 40px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    color: #f3f3f3;
    display: inline-block;
}
.creater{

    font-size: x-small;
    position: absolute;
    height: 10px;
    display: flex;
    align-content: center;
    bottom: 3px;
    margin-bottom: 5px;
    animation-name:colorAnimate;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    position: relative;
    right: 100px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes colorAnimate{
    0%{
        color: white;
    
    }

    10%{
        color: red;
    }
    30%{
        color: aqua;
    }
    40%{
        color: #0f1111;

    }
    50%{
        color: violet;
    }
    60%{
        color: rgb(21, 255, 0);
        transform: skew(20deg);
    }
    70%{
       color: white;

    }
    80%{
        color:white;
        transform: skew(-30deg);
    }
    90%{
        color: red;
    }

    100%{
        
        color: yellow;
        
    }
}


.address{
    margin-left: 10px;
    height: 40px;
    width: 80px;
    border: 2px solid transparent;
    display: inline-block;
    
}

.deliverto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
 }
.address:hover{
    border: 2px solid white;
}
.add-icon{
    background-color: #0f1111;
    display: inline-block;
    
}
.loc{
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
}
.search_icon{
    display: inline-block;

}

.nav_search{
    width: 620px;
    height: 40px;
    display: flex;
    background-color: #febd68;
    margin-left: 10px;
    justify-content: space-evenly;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    

}
.option{
    background-color: #f3f3f3;
    width: 45px;
    text-align: center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.select-input{
    border: none;
    width: 100%;
}
.button-search{
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_search:hover{
    border: 2px solid orange;
}
.Account{
    font-weight: 700;
}
span{
    font-size: 0.75rem;
}
a{
    text-decoration: none;
    color: #f3f3f3;
}
.nav-signin:hover{
    border: 2px solid white;
}
.cart{
    display: flex;
    justify-content: center;
}
.cart:hover{
    border: 2px solid white;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #f3f3f3;
    align-items: center;
}
.panel-deals{

   font-size: 0.9rem;
   font-weight: 800;
   width: 201px;
   position: relative;
   right: 0px;
font-family: inherit;
   

}
.panel-deals:hover{
    border: 2px solid white;

}

.panel-ops{
    width: 60%;
    font-size: 0.85rem;
}
.p1{
    margin-left:22px;

}
.panel-all{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:3px;
}
.panel-all:hover{
    border: 2px solid white;
}
.p1:hover{
  border: 2px solid white;  
}
.Electronics:hover{
    lighting-color: red;
}



.hero_section{
    background-image: url(hero_png.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

 
}
.hero_message{
    background-color: #f3f3f3;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 97%;
    margin-bottom: 25px;
}
.hero_message a{
    color: #007185;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color:#e2e7e6;

}
.box{
    height: 405px;
    width: 23%;
    background-color: white;
    display: inline-block;

    
}
.image{
    background-image: url(bestseller.jpg);
    height: 260px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
}
h2{
    font-size: medium;
    margin-top: 8px;
    margin-left: 4px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mrp{
    text-decoration: line-through;
}
.mrp-func{
    display: flex;
    font-weight: 700;
}
.box a{
    color:#007185;
}
